{% extends 'base.html.twig' %}
{% block title %}Welcome to my calendar{% endblock %}
{% block stylesheets %}
  <link rel='stylesheet' href='build/fullcalendar.css'/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
{% endblock %}

{% block body %}

<div id="modal-new-event" class="modal mx-auto col-md-4">
  <h3 class="text-center">Add event</h3>
  <button class="btn btn-danger" id="delete-btn">Delete</button>
  <form class="p-5" id="event-form">

    <div class="form-group has-danger">
        <label class="" for="title">title</label>
        <input class="form-control" id="title" type="text" value="">
        <div class="error-title text-danger"></div>
    </div>

    <div class="form-group">
      <label class="" for="start">start</label>
      <input class="form-control" id="start" type="datetime-local">
      <div class="error-start text-danger"></div>
    </div>
    <div class="form-group">
      <label class="" for="end">end</label>
      <input class="form-control" id="end" type="datetime-local" value="">
      <div class="error-end text-danger"></div>
    </div>

    <input class="btn btn-primary" type="submit" value="save event">
  </form>
</div>

<div id="modal-show-event" class="modal mx-auto col-md-4">
  <h3 class="event-title text-center"></h3>
  <div><p>start at <span class="event-start"></span></p>
  </div>
  <div class="">
    <p>end at <span class="event-end"></p>
  </div>
  <button id="edit-btn" class="btn btn-primary">Edit</button>
</div>

  <div id='calendar'></div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('build/fullcalendar.js') }}"></script>
{% endblock %}
